[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
sphinx = "*"
pytest-cov = "*"
responses = "*"
requests-mock = "*"

[packages]
requests = "*"
