[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

coverage = "*"
pytest-aiohttp = "*"
pytest-cov = "*"
twine = "*"
codecov = "*"
tox = "*"
sphinx = "*"
"flake8" = "*"
detox = "*"
aresponses = "*"
pytest-mock = "*"


[packages]

aiodns = "*"
aiohttp = "*"
